*{
	font-family: Verdana;
}

body{
	height: 100%;
	margin: 0;
}

header{
	width: 100%;
	background-color: #D5D7F2;
	font-style: italic;
	height: 10vh;
	display: flex;
	align-items: center;
	font-size: 2vh;
}

#glowna{
	display: flex;
	height: 90vh;
}

#menu{
	width: 15%;
	background-color: #F5DEFC;
}
#opcje>li:hover{
	background-color: #F2D5F2;
}

#doZrobienia{
	width: 85%;
	background-color: #E4DEFC;
}
#etapy{
	display: flex;
	justify-content: space-around;
	height: 90%;
}
.etap{
	background-color: purple;
	color: white;
	padding: 5px 0;
	border-radius: 20px 20px 0 0;
}
.elementy{
	background-color: mediumpurple;
	padding-bottom: 10px;
	border-radius: 0 0 5px 5px;
	display: flex;
	flex-direction: column;
	align-items: center;
}
.elem{
	position:relative;
	background: var(--kolor);
	width: 90%;
	height: auto;
	margin-top: 10px;
	border-radius: 30px 10px 10px 10px;
	overflow: hidden;

}
.pudelko{
	position: absolute;
	inset: 20px;
	background: mediumpurple;
}
.etapZadania{
	height: 100%;
	width: 30%;
	text-align: center;
	margin: 5px;
}
#szukaj{
	width: 90%;
	height: 4%;
	border: #DDD5E6 solid 5px;
	border-radius: 5px;
	margin:5px 0;
}
.opcje{
	display: flex;
	justify-content: space-around;
}
h1{
	color: white;
	padding-left: 50px;
}
#dodaj{
	padding: 10px;
}
#dodaj>input{
	margin: 10px;
}
a{
	text-decoration: none;
	color: black;
	font-weight: bold;
}

.doSzukania	{
	width: 100%;
	display: flex;
	justify-content: center;
}
.zawartosc{
	display: flex;
	flex-direction: column;
}